<!-- Students ID: 00013836, 00014725, 00014896-->
@model IEnumerable<FastFood.DAL.Models.Menu_Ingredients>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-info m-2" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Meal ID</th>
            <th>Meal Title</th>
            <th>Ingredient Titles</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.meal_ID</td>
            <td>@item.Meal.Meal_title</td>
            <td>
                    @{
                        if (item.IngredinetList != null)
                        {
                            var ingredientTitles = new List<string>();
                            foreach (var ingredient in item.IngredinetList)
                            {
                                if (ingredient != null)
                                {
                                    ingredientTitles.Add(ingredient.Title);
                                }
                            }
                            @string.Join(", ", ingredientTitles)
                        }
                    }
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.meal_ID })    |   
                    @Html.ActionLink("Details", "Details", new { id = item.meal_ID })    |   
                    @Html.ActionLink("Delete", "Delete", new { id = item.meal_ID, viewName = "DeleteConfirmed" }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
