<!-- Students ID: 00013836, 00014725, 00014896-->
@model IEnumerable<FastFood.DAL.Models.Ingredients>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-info m-2">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ingredient_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ingredient_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ingredient_ID  }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ingredient_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ingredient_ID, viewName = "DeleteConfirmed" }, new { @class = "btn btn-danger" })

            </td>
        </tr>
}
    </tbody>
</table>
